@media (min-width: 1320px) and (max-width: 1550px) {
    #faqId,#contactId{
        display: block!important;
    }
    #aboutPlusContentGridRightTittleDekst,.intFiveContentGridRightDesc{
        width: 149%;
    }
    .menu-headerDown-demo {
        display: flex;
        font-family: Effra;
        text-decoration: underline;
        color: #E34850;
        font-weight: 600;
        letter-spacing: 1.2px;
        margin-right: -56px;
        margin-bottom: 10px;
        margin-left: 72px;
        cursor: pointer;
    }
    .menu-headerDown-button {
        margin-right: auto;
        height: 40px;
        min-width: 153px;
        background: transparent;
        border: solid 2px #E34850;
        font-size: 16px;
        font-family: Effra;
        font-weight: 400;
        color: #E34850;
        border-radius: 4px;
        background: #FFFFFF;
        font-family: 'circe';
        margin-bottom: 10px;
        margin-right: 6px;
    }
    .freeMusContentGridLeftContent{
        width: 320px;
    }
    .modalCall, .modalCallTwo, .modalCallThree{
        margin-top: -250px;
        top: 45%;
        left: 23%;
    }
     #modalTwoWrapper{
            height: 592px!important;
    }
    .myCabinetContentRightForm{
        margin-left: 9%!important;
    }
    .footerContentGrid{
        margin-top: 135px!important;
    }
    .free2Img{
        width: 78px;
    }
    .serverLegalContentGridRight{
        margin-left: 30px;
    }
    .company-info-menu-contentSellAudio,.company-info-menu-contentAudio ,.company-info-menu-contentFreeMusic ,.company-info-menu-contentStudios,.company-info-menu-contentCreateSfera{
        left: 263px;
    }
    #fonGridLeft{
        width: 97%;
    }
    #menuDown {
        flex-direction: row;
        display: flex;
        align-items: center;
        margin-left: 926px;
        padding-top: 15px;
        position: fixed;
        width: 519px;
        height: 43px;
        z-index: 10;
    }
    #poLeft{
        width: 460px;
    }
    .advantBoxMenuContentLeft {
        grid-area: 1 / 1 / 2 / 2;
        background: url(img/advantBoxMenuContentLeft.png) no-repeat;
        width: 100%;
        background-size: contain;
        height: 411px;
        margin-top: 35px;
    }
    .po1Img {
        background: url(img/po1.png) no-repeat;
        width: 109px;
        height: 43px;
        margin-right: 10px;
        background-position: 40%;
    }
    .po2Img {
        background: url(img/po2.png) no-repeat;
        width: 133px;
        height: 43px;
        margin-right: 11px;
        background-position: 40%;
    }
    .po3Img {
        background: url(img/po3img.png) no-repeat;
        width: 96px;
        height: 43px;
        margin-right: 12px;
        background-position: 70%;
    }
    .aboutNav{
        position: absolute;
        left: -4%;
    }
    .in1Img {
        background: url(img/in1.png) no-repeat;
        width: 81px;
        height: 28px;
        margin-right: 10px;
    }
    .in2Img {
        background: url(img/in2.png) no-repeat;
        width: 76px;
        height: 32px;
        margin-right: 11px;
    }
    .in3Img {
        background: url(img/in3.png) no-repeat;
        width: 163px;
        height: 40px;
        margin-right: 14px;
    }
    .advantBoxMenuContentLeft{
        width: 100%;
        background-size: contain;
    }
    #intAdvant{
        padding-bottom: 75px;
    }
    .free3Img{
        width: 43px;
    }
    .serverRealContentGridRightDesc{
        width: 100%;
    }
#poContentGrid{
    grid-column-gap: 30px;
}

}


@media (min-width: 1201px) and (max-width: 1700px) {
    #accountId,#contactId,#faqId{
        display: none;
    }
    .soundColumnRightRow1Content{
        width: 365px;
    }
    .efirNav{
        margin-top: 11%;
    }
    .menu-header-text li {
        margin-right: 15px;
        white-space: nowrap;
    }
    .footerContentFlex2,.footerContentFlex3,.footerContentFlex4{
        margin-top: 73px;
    }
    .footerContentGrid{
        margin-top: 127px;
    }
    .fonPrimerContentGridBoxCardIcon{
        width: 90px;
    }
    #flexNumbers{
        border-right: none;
    }
    .po1img{
        width: 101px;
    }
    .po2img{
        width: 127px;
    }
    .po3img{
        width: 98px;
    }
    .internet2img{
        width: 67px;
    }
    .internet3img{
        width: 166px;
    }
    .menu-header-phone a {
        display: flex;
        margin-right: 7px;
        font-size: 15px;
        font-weight: 500;
        font-family: Effra;
        color: black;
        letter-spacing: 0.2px;
        padding-left: 2px;
    }
    .menu-headerDown-text li {
        margin-right: 11px;
    }
    .menu-headerDown-text li:last-child{
        display: none;
    }
}
@media (min-width: 1201px) and (max-width: 1400px) {
    #account,.menu-headerDown-demo{
        display: none;
    }
    .intFiveContentGrid{
        grid-column-gap: 30px;
    }


    .efirNav{
        margin-top: 13%;
    }

 .menu-headerDown-button {
        width: 202px;
        height: 40px;
        background: transparent;
        border: solid 2px #E34850;
        font-size: 12px;
        font-family: Effra;
        font-weight: 400;
        color: #E34850;
        border-radius: 4px;
        background: #FFFFFF;
        font-family: 'circe';
        margin-bottom: 10px;
    }

}


@media (min-width: 801px) and (max-width: 1200px) {
.menu-header-wrap{
    display: none;
}
    .menu-headerDown-rightEfir{
        display: none!important;
    }
}

@media (min-width: 801px) and (max-width: 1550px) {
    .soundColumnRightRow1Content,.soundColumnRightRow2Content,.soundColumnLeftRow2Content,.soundColumnLeftRow1Content{
        width: 365px;
    }


    .soundColumnCenter {
        background: url(img/soundTech.png) no-repeat;
        width: 335px;
        height: 509px;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        position: relative;
        background-position-x: 37%;
    }

    .demoCabinet{
            width: 48%!important;
    margin-left: 24%!important;
    }
    .myCabinetContentRight,.myCabinetContentRightForm,.myCabinetContentRightFormLine,.myCabinetContentLeftForm,.myCabinetContentLeftFormLine,.myCabinetContentLeft{
        width: 100%;
    }
    .adversContentRightMoment1Img,.adversContentRightMoment2Img,.adversContentRightMoment3Img{
        width: 56px;
    }
   .playerMsboxContentRightMoment2Img{
        width: 87px;
    }
    .playerMsboxContentRightMoment1Img{
        width: 100px;
    }
    .playerMsboxContentRightMoment3Img{
        width: 155px;
    }
    .myCabinetContentRightFormDesc{
        margin-bottom: 25px;
    }
    .myCabinetContentLeftFormInputs{
        padding-left: 10px;
    }
}




@media (max-width: 800px) and (min-width: 250px){
    .menu-header-wrap,.menu-header-contentRight,.menu-headerDown-left,.arrowTop,.arrowBottom,.soundColumnCenter,.company-info-menu,.company-info-descDown,.aboutNav,.menu-headerDownEfir{
        display: none!important;
    }
    .intTittle {
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/intTittleMobile.png)no-repeat;
        background-size: cover;
        width: 100%;
        height: 360px;
        margin-top: 70px;
}
    .circleUp {
        display: block;
    }
    .aboutForContentGrid{
        margin-bottom: 0;
    }
    #freeMenuContent{
        flex-direction: column;
    }
    .advantBoxMenuContentRightTittle,.freeAdvantText{
        font-size: 16px;
    }
    #studioBoxMenuContentRight{
        margin-top: 0;
    }
    .advTittle{
        font-size: 16px;
    }
    .advDesc{
        font-size: 14px;
    }
    .advWorkContentGridTittle{
        font-size: 22px;
        text-align: -webkit-center;
    }
    .advWorkContentGridTittleDesc{
        width: 100%;
        margin-top: 15px;
    }
    .advWorkContent{
        display: flex;
        width: 100%;
    }
    .advWorkContentGrid{
        width: 100%;
    }
    .advWorkContentMain{
        width: 3000px;
        display: flex;
        flex-direction: row;
    }
    .advantBoxMenuContainer {
        overflow: scroll;
        min-height: 66px;
    }
    .advantBoxMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 74px;
        width: 1000px;
        border-bottom: 1px solid #CFCFCF;
    }
    .menu-header{
        padding-left: 0;
    }
    .advWorkContentTop1,.advWorkContentTop2,.advWorkContentTop3,.advWorkContentBottom1,.advWorkContentBottom2,.advWorkContentBottom3{
        margin-left: 8px;
        margin-right: 5px;
        width: 335px;;
    }
    .studioVideosCards,.aboutForContentGridBox,.aboutTeamContentGridBox{
        width: 3000px;
    }
    .contentCard{
        margin-left: 40px;
    }
    .aboutTeamContentGridBoxContent1,.aboutTeamContentGridBoxContent2,.aboutTeamContentGridBoxContent3,.aboutTeamContentGridBoxContent4,.aboutTeamContentGridBoxContent5,.aboutTeamContentGridBoxContent6,.aboutTeamContentGridBoxContent7,.aboutTeamContentGridBoxContent8{
        margin-left: 41px;
        margin-right: 0;
        width: 297px!important;
    }
    .aboutForContentGridBoxContent1,.aboutForContentGridBoxContent2,.aboutForContentGridBoxContent3,.aboutForContentGridBoxContent4,.aboutForContentGridBoxContent5,.aboutForContentGridBoxContent6,.aboutForContentGridBoxContent7,.aboutForContentGridBoxContent8{
        margin-left: 45px;
    }

    .advWorkContentMainContainer{
        max-width: 300px;
        overflow-x: hidden;
        align-self: center;
        padding-right: 79px;
    }


    .myCabinetContentRightFormTittle{
        padding-top: 30px;
    }
    .serverService{
    margin-top: 70px;
}
#modalTwoForm{
    margin-top: 0px!important;
}
.myCabinetContentRightFormTittle{
    margin-top: 20px;
}
#wrapTwo{
    width: 69%!important;
}
.modalCallTwo{
    margin-top: -301px!important;
}
#modalCallNone{
    display: none;
}
.myCabinetContentRightFormTittle{
    margin-top: -11px;
}
    #demoInputs {
        margin-top: 30px;
        width: 50%;
        margin-left: 25%;
    }
    #demoModal{
        margin-top: 0!important;
    }
    #demoModalLeft{
        height: 236px!important;
    }
    .modalCallThree{
        margin-top: -302px;
    }
#modalCallMobile{
    display: block;
    margin-right: 15px;
    margin-top: 10px;
    margin-left: 58%;
    }
#demoInpDeks{
    display: none;
}
    #demoInpMobile{
        display: block;
    }
    .myCabinetContentRightFormTittle{
        margin-top: 0;
    }
    #wrapTwo{
        margin-top: 5px;
    }


.modalCallInput{
    margin-left: 178px;
}
    .intTittle,#parfumTittle{
        margin-top: 70px!important;
    }
    .modalContentLeft{
        display: flex;
        height: 227px!important;
        width: 100%!important;
    }
    #modalContentCall{
        display: flex;
        height: 369px!important;
        width: 100%!important;
        padding-top: 31px;
    }
    .modal-content{
        flex-direction: column;
    }
    .myCabinetContentRightForm{
        margin-top: 5%!important;
    }

    .myCabinetContentRightFormTittle{
        text-align: center;
    }
    .myCabinetContentRightFormDesc{
        width: 100%;
    }
#parfumLeft,#poLeft{
    width: 100%;
    margin-top: 0;
}
#poLegal{
    margin-top: 0!important;
    padding-top: 45px;
}
    .serverQuestContentDownTittle{
        font-size: 22px;
    }


    #poContentGrid{
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/poContentGrid.png)no-repeat;
        width: 100%;
        height: 346px;
    }

#mobilesServ{
    margin-top: 25px;

}
.serverServiceContentGridLeftContentDesc,.serverServiceContentGridRightContentDesc{
    width: 100%;
    margin-left: 0;
}
.serverQuestContentDownTittle{
    text-align: -webkit-left;
}
#gridPo{
    margin-bottom: 0;
}
#gridRight{
    margin-top: 0;
}
    .po1Img {
        background: url(img/po1.png) no-repeat;
        width: 44px;
    }
    .po2Img {
        background: url(img/po2.png) no-repeat;
        width: 57px;
    }
    .po3Img {
        background: url(img/po3img.png) no-repeat;
        width: 41px;
    }
    #intServ,.serverRealContentGridRightTittle{
        display: none;
    }
    .serverQuestContentDownButton{
        margin-bottom: 60px ;
    }
    .serverRealContent,.serverRealContentGrid,.serverServiceContent {
        display: flex;
    }

    .serverServiceContentGrid{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .serverServiceContentGridLeftContent,.serverServiceContentGriRightContent{
        width: 100%;
    }
    .serverRealContentGridRightTittle{
        font-size: 22px;
        color: white;
    }
    .serverRealContentGridRightDesc{
        color: white;
        font-size: 14px;
    }
    .serverTittleMobile{
        display: block;
    }
    .serverRealContentGridRightDesc a{
        color: white;
    }
    .serverRealContentGridRight{
        text-align: -webkit-center;
    }
    .serverRealContentGrid{
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/serverRealContentGridLeft.png)no-repeat;
        width: 100%;
        height: 509px;
    }
    #msMobile{
        display: block;
        height: 100%;
    }
    #intQuest{
        display: none;
    }
    .intFiveContentGridLeft{
        width: 100%;
        margin-top: 0px;
    }
    #aboutPlusContentGridRightTittleMobile{
        margin-top: 30px;
    }

    .in3Img{
        width: 87px;
    }
    .mobileButton,#headerMobile{
        display: block!important;
    }
    .adversContentLeftEfir{
        background-position-x: 32% ;
        zoom: 56%;
    }
    #efirContentDesc{
        color: black;
    }
    #mebelText{
        text-align-last: center;
    }
    #mebelTittle{
        margin-top: 70px;
    }
    .intFiveContent,.intFiveContentGrid{
        display: flex;
    }
    #mebelLeft{
        width: 100%;
    }
    #marketTittle{
        margin-top: 70px;
    }
    #marketLeft{
        width: 100%;
    }
    .fonFormTextDesc{
        width: 125%;
    }
    #jewerelyLeft{
        width: 100%;
    }
    #kidsLeft{
        width: 100%;
    }
    #kidsTittle{
        margin-top: 70px;
    }
    #jewerelyTittle{
        margin-top: 70px;
    }
    #serverTittleTextMobile{
        width: 77%;
    }
    .serverTittleDown{
        height: 100%;
    }
    #freeTittle{
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/freeTittleMobile.png)no-repeat;
        background-size: cover;
        width: 100%;
        height: 377px;
        margin-top: 70px;

    }
    .serverTittleContent,.serverTittleDownContent{
        display: flex;
    }
    .serverTittleDown{
        padding-bottom: 30px;
    }
    #brendLeft{
        width: 100%;
    }
#serverTittleTextMobile,.serverTittleDown,.serverServiceContentGrid,.studioStepContent  {
    padding: 0 30px 0 30px;
}
    .intFiveContentGridRightTittle{
        font-size: 22px;
    }
  #visionQuestDown{
        padding: 0 30px 0 30px;
        display: block;
        text-align: -webkit-center;
    }
    #visionQuest{
        padding: 0 30px 0 30px;
        display: block;
        text-align: -webkit-center;
        margin-top: 60px;
    }
    .studioStepTittle{
        font-size: 22px;
        width: 92%;
        text-align: -webkit-center;
    }
    .descTitte{
        font-size: 16px;
    }
    .descMain{
        font-size: 14px;
    }
    .serverServiceContentGridLeft{
        margin-bottom: 30px;
    }
    .questionContentGrid{
        background: #e1e2e4;
    }
    .serverService{
        padding-bottom: 20px;
    }
    .questionContentGrid{
        margin-top: 0px;
    }
    .question
    .aboutInfoContent{
        display: flex;
    }
    .aboutInfoContentGrid{
        display: flex;
        flex-direction: column;
    }
    #playerMsboxContentRightTittleMobile{
        display: block;
        align-self: center;
    }
    #bodyAbout{
        margin-top: -11%;
    }
    #aboutTittle{
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/aboutTittleMobile.png")no-repeat;
        width: 100%;
        height: 320px;
    }
    .adversContentLeft{
        margin-top: 130%;
    }
    .serverTittleText{
        font-size: 28px;
    }
    .serverTittleContentGrid {
        display: flex;

        grid-area: 1 / 2 / 2 / 3;
margin-left: 0px;
        align-items: normal;
        margin-top: 110px;

    }
    .fonPrimerContentGridBoxCard{
        place-self: center;
    }
    .playerMsboxContentRightMoment1Img{
        width: 66px;
        margin-right: 0;
    }
    .myCabinetLogin,.myCabinetPassword{
        width: 314px;
        height: 49px;
    }
    .myCabinetContentLeftForm{
        text-align: center;
    }
    .playerMsboxContentRightMoment2Img{
        width: 48px;
        margin-right: 0;
    }
    .adversContentRightTittleEfir{
        font-size: 22px;
    }

    .playerMsboxContentRightMoment3Img{
        width: 96px;
        margin-right: 0;
    }
    .internet1img{
        width: 37px;
    }
    .internet2img{
        width: 39px;
    }
    .internet3img{
        width: 84px;
    }
    .playerMsboxContentRightButton{
        min-width: 161px;
        height: 49px;
        font-size: 16px;
    }
    .po1img{
        width: 59px;
    }
    .po2img{
        width: 77px;
    }
    .po3img{
        width: 56px;
    }
    #playerMsboxContentRightTittleDeks{
        display: none;
    }
    .adversContentLeftPo,.adversContentLeftInternet{
        margin-top: 0;
    }
    .playerMsboxContentRightDesc{
        width: 100%;
        font-size: 16px;
    }
    #sound3Desc{
        margin-bottom: 25%;
    }
    .company-info-tittle,.playerMsboxContentRightMoment1,.playerMsboxContentRightMoment2,.playerMsboxContentRightMoment3{
        font-size: 14px;
    }
    #aboutTittleDown{
        font-size: 16px;
        width: 112%;
        margin-top: 10%;
    }
    .serverTittleDownContentGrid{
        margin-left: 0px;
        margin-top: 1%;
    }
    .soundColumnRight{
        margin-left: 0px;
        margin-top: 90px;
    }
    .playerMsboxContentLeft{
        background: url("img/playerMsboxContentLeftMobile.png") no-repeat;
        width: 100%;
        height: 219px;
        background-position-y: center;
        background-position-x: center;
    }

    .soundColumnRightRow2Content,.soundColumnRightRow1Content,.soundColumnLeftRow2Content,.soundColumnLeftRow1Content{
        width: 314px;
    }

    .soundTechContentTittle{
        font-size: 24px;
        /* width: 77%; */
        letter-spacing: 1px;
    }
    .company-info-desc {
        font-family: Effra;
        font-size: 24px;
        color: #FFFFFF;
        width: 68%;
        font-weight: bold;
        margin-bottom: 98px;
        line-height: 35px;
    }
    .company-info-content {
        background-size: cover;
        width: 100%;
        height: 595px;
        background-position-x: 30%;
    }
    .company-info-tittle,.company-info-more{
        color:white;
    }
    .company-info-moreArrow{
        background: url("img/company-info-moreArrowWhite.png");
        width: 24px;
        height: 24px;
        background-position-y: center;
    }

    .mobile-menu {
        display: block!important;
        right: 27px;
        top: 40px;
    }
    .menu-header{
        margin-left: 0px;
        margin-right: 0px;
    }
    .wrap-logo{
        margin-left: 3px;
        margin-right: 10px;
        margin-top: 20px;
        zoom: 85%;
    }
    .menu-headerDown-button{
        min-width: 263px;
    }
    .footerContentGrid{
        margin-top: 30px!important;
    }
#productTittle{
    margin-top: 70px;
}
.intFiveContentGridLeft{
    width: 100% !important;
}
    .fonPrimerContentGridBoxCardText{
        font-size: 14px;
    }
    .soundTechContentWrapper{
        display: flex;
        flex-direction: column;
    }
    .aboutInfoContentGridTittle,.serverControlContentFormTittle,.fonPrimerContentGridTittle{
        font-size: 22px;
    }
    #fonControlContentForm{
        height: 100%;
    }
    .fonPrimer{
        margin-top: 230%;
    }
    #questGridson{
        margin-top: 0px;

    }

    .questionServerContent{
        padding-top: 0;
    }
    #studioServiceTittle{
        padding-top: 0;
    }
    .fonFormTextDesc{
        font-size: 16px;
        padding-bottom: 15px;
    }
    .studioVideos{
        margin-top: 35%;
    }
    .contentCardTittle{
        font-size: 16px;
    }
    .contentCardDesc{
        font-size: 14px;
    }
    .studioVideosCards{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .studioVideosTittle{
        font-size: 22px;
        margin-top: 156px
    }
    .studioVideosContent{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .studioVideosContentGrid{
        width: 100%;
    }
    .fonPrimerContent,.fonPrimerContentGrid,#freeMusGrid{
        width: 100%;
    }
    #fonGridCard {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .aboutPlusContent,.serverControlContentFormGrid,.fonPrimerContent,.serverServiceContent  {
        display: flex;
    }
    .aboutPlusContentGrid,  .fonPrimerContentGridBox,#freeMusGrid{
        display: flex;
        flex-direction: column;
    }
    #intFiveContentGridRightTittleDesk,.questionContentTittleDesc,.questionContentTittle,#serverServiceContentTittleDesk{
        display: none;
    }
    #serverServiceContentTittleMobile{
        display: block;
    }
    #freeMusGridRight,#freeMusGridLeft{
        align-self: center;
    }
    #freeMusGridCenter{
        display: flex;
        align-self: center;
    }
    .serverControlContentFormTittle{
        text-align: left;
    }
#intFiveContentGridRightTittleMobile{
    display: block;
    margin-bottom: 0px;
    margin-top: 40px;
    font-size: 22px;
    width: 84%;
}
    #cafeTittle {
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/cafeTittle.png)no-repeat;
        width: 100%;
        height: 583px;
        margin-top: 70px;
        background-position-x: 28%;
        background-position-y: 104%;
    }
    .efirNav{
        display: none;
    }
    .efirCreateTittle{
        font-size: 28px;
    }
    .efirCreateDesc {
        color: white;
        font-size: 16px;
        font-family: Circe;
        width: 100%;
     text-align: left;
        margin-bottom: 30px;
    }
.fonPrimerContentGridBoxCard{
    padding: 0 10px 0 5px;
}
    .freeMusContentGridLeftContent,.freeMusContentGridRightContent,.freeMusContentGridCenterContent{
        width: 100%;
    }


body{
    background: #ECEDEF;
}

.adversContentLeftEfir,.adversContentLeftPo,.adversContentLeftInternet{
    width: 100%;
}
    .adversContentRightEfir{
        margin-top: 9%;
    }
    #questContent,.serverServiceContentTittle{
        font-size: 22px;
    }
    .serverControlContentFormGridLeft{
        margin-left: 0;
        width: 100%;
    }
    #legalMobile{
        margin-top: 88%;
    }
    .adversContentLeftEfir{
        margin-top: 0px;
    }
    .aboutPlus,.map,.intFive,.serverControlContentFormTittle,.serverControlContentFormGrid,.fonPrimerContentGrid,.questionServerContentGrid,.efirCreateContentGrid,.serverTittleContentGrid{
        padding: 0 30px 0 30px;
    }
    .serverQuestContentGrid{
        width: 100% ;
    }
    .serverQuestContentVideo iframe{
        width: 100%;
        height: 177px;
    }
    #serverLegalRightMobile{
        background: #ffff;
        padding-top: 43px;
        padding-bottom: 60px;
    }
    .serverQuestContentTittle{
        margin-top: 30px;
        font-size: 22px;
    }
    #questContent{
        padding-top: 40px;
    }
    .questionContentFormTittle{
        margin-bottom: 25px;
    }
    .aboutInfoContentGridLeftText,.aboutInfoContentGridLeftTextDown,.mapCenterTittle,.mapContactsNumberTittle,.mapContactsMailTittle,.intFiveContentGridRightDesc,.fonFormTextTittle{
font-size: 16px;
    }
    #fonControlContentForm,.serverControlContentFormLine,#cafeLeft{
        width: 100%;
    }
    #jewerelyText{
        margin-top: 50%;
    }
    .questionServerContentTittle{
        font-size: 22px;
    }
    .serverControlContent,.efirCreateContent ,.adversContent {
        display: flex;
    }
    #map{
        width: 100%!important;
    }
    #mainFaq{
        background: #ECEDEF;
    }
    .questionContent{
        height: 920px!important;
    }
    .setServ{
        padding: 20px 0;
    }
    .setServ > a{
        font-size: 16px;
    }

    .questionServerContentGrid{
        margin-bottom: 40px;
    }
    .studioVideosContentGrid{
        margin-bottom: 0;
    }
    .setServ{
        width: 100%;
    }
    .questionServerContentTittleDesc{
        font-size: 14px;
    }
    .studioVideoContentGrid{
        margin-top: 0;
    }
    .contentServVoices{
        display: flex;
        flex-direction: column;

    }
    .voiceFlex{
        margin-bottom: 10px;
    }
    .contentServ{
        width: 100%;
    }
    .studioServText{
        font-size: 14px;
    }
    #fonTittle {
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/fonTittleMobile.png)no-repeat;
        width: 100%;
        height: 347px;
        margin-top: 70px;
        background-position-x: 35%;

    }
    #fonLeft{
        margin-top: 8%;
    }
    #fonText{
        width: 100%;
        text-align: start;
    }
    .intTittleDownText {
         text-align: left;
        font: 16px Circe;
        width: 98%;
        padding-bottom: 30px;
    }
    .serverTittleDownContentGrid{
        margin-top: 10%;
    }
    .serverServiceContent{
        padding-bottom: 0px;
    }
    .intFiveContent{
        display: flex;
    }
    .intFiveContentGrid{
        display: flex;
        flex-direction: column;
    }
    #fonLeft{
        background: url("img/fonLeftMobile.png");
        height: 188px;
        width: 100%;
    }

    #freeLeft{
        background: url(img/freeLeftMobile.png) no-repeat;
        width: 100%;
        background-size: cover;
        height: 150px;
        grid-area: 1 / 1 / 2 / 2;
        position: relative;
        margin-top: 20%;
    }
    .serverLegalContentGridRightButton{
        margin-bottom: 50px;
    }
    #intSell{
        height: 100%;
    }
    .advantBoxContent{
        height: 100%;
        display: flex;
    }
.advantBoxContentGrid{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#intDownTittleMobile{
    display: block;
    font-size: 22px;
    font-family:Effra;
    font-weight: bold;
}

    .aboutInfoContentGridRightText{
        font-size: 14px;
    }
    #studioAdvantContentLeft{
        background: url(img/work/studioAdvantContentLeftMobile.png) no-repeat;
        width: 315px;
        height: 150px;
    }
.advantBoxMenuContentContainerDeks{
    display: none;
}
    .advantBoxMenu a{
        height: 53px;
    }
    .serverLegalContentGridRightTittle{
        font-size: 22px;
    }
    .serverLegalContentGridRightDesc{
        font-size: 14px;
    }
    .serverLegalContentGridRight{
        margin-top: 0px;
        margin-left: 0px;
    }
    .aboutPlusContentGridLeft{
       background: url("img/aboutPlusContentGridLeftMobile.png");
        width: 100%;
        height: 150px;
    }
    #aboutPlusContentGridRightTittleMobile{
        display: block;
        margin-bottom: 10%;
    }
    #aboutPlusContentGridRightTittleMobiles{
        display: block;
        margin-bottom: -6%;
        margin-top: 10%;
    }
    #aboutPlusContentGridRightTittleDekst,.serverLegalContentGridLeft{
        display: none;
    }
    .aboutPlusContentGridRightText{
        margin-top: 30px;
    }
    .aboutPlusContentGridRightText,.aboutGeogrContentDesc{
        font-size: 16px;
    }
    .intFiveContentGridRight{
        margin-top: 7%;
    }
    #aboutPlusContentGridRightTittleMobile,.aboutWorkContentGridTittle,.aboutGeogrContentTittle{
        font-size: 22px;
    }
    .aboutWorkContentGridBox,.serverLegalContentGrid{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .serverLegalContentGridRightButton{
        min-width: 100%;
    }
    .questionServerContent,.serverLegalContent {
        display: flex;
    }
    .in1,.in2,.in3{
        font-size: 14px;
    }
    .free2Img{
        width: 75px;
    }
    .aboutWorkContentGridBoxContent1,.aboutWorkContentGridBoxContent2,.aboutWorkContentGridBoxContent3,.aboutWorkContentGridBoxContent4,.aboutWorkContentGridBoxContent5,.aboutWorkContentGridBoxContent6{
        display: flex;
        margin-top: 20px;
    }
    .aboutWorkContentGridBoxContent1Icon{
        width: 77px;
    }
    #faqTittle {
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/faqTittleMobile.png)no-repeat;
        width: 100%;
        height: 320px;
        background-size: cover;
        margin-top: 70px;
    }
    .aboutWorkContentGridBoxContent2Icon{
        width: 97px;
    }
    .aboutWorkContentGridBoxContent3Icon{
        width: 98px;
    }
    .aboutWorkContentGridBoxContent4Icon{
        width: 141px;
    }
    .aboutWorkContentGridBoxContent5Icon{
        width: 75px;
    }
    .aboutGeogrContentTittle{
        margin-top: 40px;
    }
    .aboutWorkContentGridBoxContent6Icon{
        width: 66px;
    }
    .aboutGeogr{
        background: url("img/aboutGeogrMobile.png");
        width: 100%;
        height: 381px;
        background-position-x: 50%;
    }
    #brendTittle{
        margin-top: 70px;
    }
    #mainMyCabinet{
        padding-top: 105px;
        display: flex;
        flex-direction: column;
    }
    #mainCabinet {
        height: 1153px;
    }
    .mainCabinetTittle{
        width: 100%;
        text-align: -webkit-center;
        font-size: 45px;
    }
    #mainCabinetGrid{
        margin-top: 0;
    }
.myCabinetInp{
    margin-left: 29px!important;
}
    #contactTittle {
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/contactTittleMobile.png)no-repeat;
        width: 100%;
        height: 363px;
        margin-top: 70px;
        background-position-x: 50%;
    }

.menu-headerDown-demo{
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.mapContent{
    display: flex;
}
.playerMsboxContentGrid,.myCabinetContentGrid,.mapContentGrid{
    display: flex;
    flex-direction: column;
}
.mapContentGrid{
    width: 100%;
}
.adversContentGrid,.aboutContentGrid{
    display: flex;
    flex-direction: column;
}
.myCabinetContentLeft,.myCabinetContentGrid,.myCabinetContentLeftFormLine,.myCabinetContentRight,.myCabinetContentRightForm,.myCabinetContentRightFormLine{
    width: 100%;
}
.nameTextInput,.passTextInput{
margin-left: 8%;
}
.myCabinetContentRightFormDesc{
    width: 85%;
}

.myCabinetContentRightFormDesc br,.adversContentLeft{
    display: none;
}
.adversContentRight {
    margin-top: 104%;
}

.adversContentRight{
    width: 100%;
    height: 564px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/adversContentRight.png") no-repeat;
}
.adversContentRightTittle{
    font-size: 22px;
    color: white;
    text-align-last: center;
}
.adversContentRightDesc{
    font-size: 16px;
    color: white;
    width: 87%;
}

.aboutInfoContent{
    display: flex;
}
.aboutInfoContentGridRight{
    text-align: -webkit-center;
}
    .aboutForContentGridTittle,.aboutTeamContentTittle{
        font-size: 22px;
    }
    .aboutTeamContentGridBoxContentName{
        font-size: 16px;
    }
    .aboutForContentGridBoxContentDesc,.aboutTeamContentGridBoxContentDesc{
        font-size: 14px;
    }
.aboutForContent,.aboutTeamContent {
    display: flex;
    width: 100%;
}
.aboutForContentGrid,.aboutTeamContentGrid{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.aboutForContentGridBox{
    display: flex;
}
    .aboutTeamContentGridBox{
        display: flex;
    }
.advMom{
    font-size: 14px;
    color: white;
}
    .aboutTeamContentGridBox{
        margin-bottom: 20px;
    }
.adverRightButton{
    text-align: center;
}
.advers{
    height: 982px;
}
.aboutWorkContentGridBoxContentText{
    margin-left: 15px;
}
.aboutContentLeftTittle,.myCabinetContentRightFormTittle,.questionContentTittle{
font-size: 22px;
}
.aboutContentLeftDesc,.serverLegalContentGridRight{
font-size: 14px;
padding: 0 30px 0 30px;
}
    .serverQuestContentDown{
        padding-left:30px;
        padding-right:0px;

    }

.advantBoxMenuContentContainerMobile{
    padding: 0 30px 0 30px;
    display: block;
}
    .advantBox{
        height: 100%;
    }
    #musAdvantContentLeft {
        background: url(img/work/musAdvantContentLeftMobile.png) no-repeat;
        width: 315px;
        height: 150px;
    }
    #freeAdvant{
        height: 100%;
    }
    #boxMenuSmall{
        height: 55px;
    }
.freeAdvantText{
    margin-bottom: 20px;
}
    .advantBoxMenuContentLeft{
        background: url(img/work/advantBoxMenuContentLeftMobile.png) no-repeat;
        width: 315px;
        height: 150px;
    }
    .advantBoxContentTittle{
        font-size: 22px;
    }
    #advantMobile{
        padding-left: 30px;
    }
.myCabinetContentRightFormDesc{
    font-size: 14px;
}
.serverQuestContentDownDescMobile{
    display: flex;
    flex-direction: row;
    font-size: 14px;
}
    .serverQuestContentDownDescRow2{
        margin-top: 0px;
    }
.serverQuestContentDownDesc{
    display: none;
}
    .serverQuestContentDownButtonContainerMobile {
        text-align: -webkit-center;
        margin-top: 30px;
        display: block;
    }
    .serverQuestContentDownButtonContainer{
        display: none;
    }
    .serverQuestContentDownButtonContainerMobile{
        margin-right: 55px;
    }
    #po1Mob{
        width: 61px;
    }
    #po2Mob{
        width: 75px;
    }
    .rightsAboutContentGridTittle{
        font-size: 22px;
        margin-top: 40px;
        text-align: start;
        width: 90%;
    }
    .intTittle{
        height: 359px!important;
        background-size: cover!important;
    }
    .rightsActContentGridBoxElementIcon{
        width: 51px;
    }
    .serverTittle{
        margin-top: 70px;
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/serverTittleMobile.png)no-repeat;
        width: 100%;
        height: 359px;
        background-size: cover;
        background-position-x: 93%;
    }
    .serverTittleDownText{
        font-size: 16px!important;
       text-align: start;
        width: 98%;
padding-bottom: 28px;
    }
    #serverComplexWrapperMobile{
        display: block!important;
    }
    #serverComplexWrapperDekst{
        display: none;
    }
    .serverColumnLeftRow1Icon,.serverColumnLeftRow2Icon,.serverColumnCenterRowIcon,.serverColumnLeftRow3Icon{
        width: 60px;
    }
    .serverColumnLeftRow1Icon{
        background: url(img/playlistMobile.png)no-repeat;
        width: 51px;
        height: 35px;
    }
    .serverColumnCenterImage {
        background: url(img/msboxMobile.png);
        width: 268px;
        height: 187px;
        z-index: 3;
        position: relative;
    }
    .serverColumnLeftRow2Icon{
        background: url(img/otchet.png)no-repeat;
        width: 51px;
        height: 36px;
    }
    .serverColumnLeftRow3Icon{
        background: url(img/work/Layer2.png)no-repeat;
        width: 51px;
        height: 36px;
    }
    .serverComplexContent{
        display: flex;
    }
    .serverColumnLeftRow1,.serverColumnLeftRow2,.serverColumnLeftRow3,.serverColumnRightRow1,.serverColumnRightRow2,.serverColumnRightRow3 {
        display: flex;
    }
    .serverColumnRightRow1Icon{
        background: url(img/work/noneCloud.png)no-repeat;
        width: 51px;
        height: 36px;
    }
    .serverColumnRightRow2Icon{
        background: url(img/work/dbltj.png)no-repeat;
        width: 51px;
        height: 36px;
    }
    .serverColumnRightRow3Icon{
        background: url(img/work/speaker.png)no-repeat;
        width: 51px;
        height: 36px;
    }
    .serverColumnCenterRowIcon{
        background: url(img/work/Group553.png)no-repeat;
        width: 51px;
        height: 36px;
    }
    #serverLine{
        display: none;
    }
    .serverControlContentFormGridRight {
        margin-top: 20px;
        background: url(img/work/cable_snd_cntr.png) no-repeat;
        width: 100%;
        height: 233px;

    }
    .serverControlContentForm{
        width: 100%;
        height: 100%;
        background: #ECEDEF;
    }
    .serverControlContentFormGridLeftTittle{
        font-size: 14px;
    }
    .serverControlContentFormGridLeftDesc p{
        width: 100%;
        font-size: 14px!important;
    }
    .serverControlContentFormGridLeftDesc ul{
        padding-left: 15px;
    }
    .serverControlContentFormGridLeftDesc{
        padding-bottom: 30px;
    }
    .serverControlContentFormGrid{
        display: flex;
        flex-direction: column-reverse;
    }
    .serverComplexContentTittle{
        font-size: 22px;
    }
    .serverComplexContentTittleDesc{
        font-size: 16px;
        text-align: start;
        width: 100%;
    }
    .serverColumnLeft{
        align-items: center;
    }


    .serverColumnCenterRow{
        flex-direction: row;
    }

    #studioDesc{
        width: 100%;
        margin-left: 0;
    }
    #sellAdvantContentLeft {

        background: url(img/work/sellAdvantContentLeftMobile.png) no-repeat;
        width: 315px;
        height: 150px;
    }
    #boxMenuSellSmall{
        height: 52px;
    }
    #boxMenuSellSmall a{
        height: 50px;
    }
    .sell2Img{
        width: 127px;
    }
    .advantBoxMenuContentRight{
        margin-top: 0;
    }
    #advantBoxSell{
        height: 57px;
    }
    .sell1Img{
        width: 49px;
    }
    .sell3Img{
        width: 74px;
    }
    .rightsActContentTittle{
        font-size: 22px;
        margin-top: 40px;
    }
    #mobileRights{
        height: 1112px;
    }
    .rightsActContentGridBoxElement{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .rightsActContentGridBoxElementText{
        margin-left: 14px;
    }
    .rightsActContent{
        display: flex;
    }
    .rightsActContentGrid,.rightsActContentGridBox{
        display: flex;
        flex-direction: column;
    }

    .rightsAboutContentGridTittleDown{
        font-size: 16px;
        text-align: start;
    }
    .aspect{
        margin-left: 0;
        padding-right:0;
    }
    .aspectText{
        font-size: 14px;
    }
    #po3Mob{
        width: 52px;
    }
    #rightContent{
        margin-top: 60px;
    }
    .rightsAbout{
        background: #FFFFFF;
    }
    .rightsAboutContent{
        display: flex;
    }
    .rightsAboutContentGrid{
        display: flex;
        flex-direction: column;
    }
    .rightsAboutContentGridContainer{
        flex-direction: column;
    }

    .serverQuestContentDownDescRow1{
        margin-right: 0px;
        padding-left: 20px;
    }
    .serverQuestContentDownDescRow1ColumnIcon{
        width: 87px;
        margin-bottom: 10px;
    }
    .serverQuestContentDownDescRow1Column1Icon{
        width: 62px;
        margin-bottom: 2px;
    }
    .serverQuestContentDownDescRow1Column3Icon{
        width: 36px;
        margin-bottom: 10px;
    }
    .serverQuestContentDownDescRow2Column3Icon{
        width: 61px;

    }
    .serverQuestContentDownDescRow3Column2Icon{
        width: 38px;
        margin-bottom: 10px;
    }
    .serverQuestContentDownDescRow2ColumnIcon{
        width: 30px;
        margin-bottom: 10px;
    }
    .freeMusListenTittle{
        font-size: 22px;
    }
    .freeMusListenButton{
        font-size: 16px;
    }
    .freeMusListenDesc{
        font-size: 14px;
    }
    .serverQuestContentDownDescRow1Column2Icon{
        width: 33px;
        margin-bottom: 10px;
    }
    .serverQuestContentDownDescRow2Column2Icon{
        width: 34px;
        margin-bottom: 10px;
    }
    .serverQuestContentDownDescRow3Column1Icon{
        width: 36px;
        margin-bottom: 10px;
    }
    .serverQuestContentDownDescRow3Column3Icon{
        width: 76px;
        margin-bottom: 10px;

    }
    .serverQuestContentDownDescRow1Column4Icon,.serverQuestContentDownDescRow2Column1Icon{
        margin-bottom: 10px;
    }
.serverFlexRow{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: normal;
    height: 110px;
    font-family: Circe;
}
.aboutContentRightUl{
    font-size: 16px;
}
    #poTittle {
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/poTittleMobile.png)no-repeat;
        background-size: cover;
        width: 100%;
        height: 359px;
        margin-top: 70px;
    }
.aboutContentLeft{
margin-bottom: 60px;
}
    .in1Img{
        width: 70px;
        margin-right: 0;
    }
    .in2Img{
        width: 64px;
        margin-right: 0;
    }
    .in3Img{
        width: 150px!important;
        margin-right: 0;
    }
    #footerIntMobile{
        margin-top: 260px;
    }
.questionContentGrid,.questionContentForms{
   width: 100%   ;
}
.adversContentRightTittle{
    margin-top: 40px;
}
    .freeMusListen{
        height: 100%;
        background-position-x: 50%;
    }
    .freeMusListenContent{
        display: flex;
        padding-bottom: 50px;
    }
    .questionContentForm{
    text-align: -webkit-center;
    flex-direction: column;
}
.questionContentGrid,.aboutContent ,.myCabinetContent ,.playerMsboxContent,.questionContent,.footerContent,.footerDownContent,.serverQuestContent   {
    display: flex;
}
    .freeMusListenDesc{
        width: 52%;
    }
    #intMyCabinet{
        margin-top: 0px;
    }
.questionContentForm,.aboutContentRightContainer{
    width: 100%;
}
    .contentServ p,.rightsActContentGridBoxElementText{
        font-size: 14px;
    }
    .serverCabinet{
        height: 100%;
    }
.aboutContentLeftTittle,.playerMsboxContentRight,.aboutButtonContainer,.footerContent,.footerDownContent ,.aboutInfoContent,.rightsAboutContentGrid,.rightsAct,.serverQuestContentTittle, .serverComplexContentGrid {
    padding: 0 30px 0 30px;
}

    .freeMusListenContentGrid{
        margin-top: 65px;
    }
.questionLogin,.questionMessage{
    width: 85%;
}
.studioStepContent{
    display: flex;
}
.studioStepContentGrid,.studioStepDescLeft,.studioStepDescCenter,.studioStepDescRight{
    width: 100%;
}
#mobileServer{
    margin-top: 220%;
}
    .studioStepDesc{
        flex-direction: column;
    }

    .studioArrow {
        background: url(img/work/studioArrowMobile.png) no-repeat;
        width: 18px;
        height: 30px;
        margin-top: 25px;
        align-self: center;
    }

    #studioTittle {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/work/studioMobile.png) no-repeat;
        width: 100%;
        height: 321px;
        margin-top: 70px;
    }
    #studioLeft{
        background: url("img/work/shut.png");
        height: 222px;
        background-size: cover;
    }
    .studioStep{
        margin-top: 50%;
    }
.optionBoxTittle{
    font-size: 16px;
}
.studioVideoContent{
    display: flex;
}
.serverQuest{
        height: 100%;
    }
.studioVideoContentGrid {
    width: 100%;
}
.studioVideoTittle,#questStudio{
    font-size: 22px;
    font-weight: bold;
}
.studioVideoTittleContent iframe{
    width: 100%;
    height: 178px;
}

.questionAnswer{
    width: 90%;
}
    .serverRealContentGridLeft{
        display: none;
    }
    .serverOptionContentGrid,.serverOptionContentDesc{
        width: 100%;
    }
    .optionBoxImg{
        width: 100%;
    }
    .optionBoxFlex{
        align-self: center;
        width: 100%;
    }
.questFormInputs, .questPhoneText, .questPhoneMail,.questAnswerText,.questMessageText{
    margin-left: 30px;
}
.questionContentDownDesc{
    width: 100%;
    text-align: center;
}
    .serverOptionContentDesc{
        flex-direction: column;
    }
.serverOptionContent{
    display: flex;
}
.redStarText{
    justify-content: center;
}
.footer,.footerDown {
    height: 100%;
    width: 100%;
}
.footerContentFlexMain{
    flex-direction: column;
}
    .serverColumnLeftRow1Text,.serverColumnLeftRow2Text ,.serverColumnLeftRow3Text,.serverColumnRightRow1Text ,.serverText{
        width: 100%;
    }
    .serverText{
        text-align: start;
    }
    .serverColumnLeftRow3Text{
        margin-left: 0;
    }
    .serverColumnRightRow2,.serverColumnLeftRow2,.serverColumnLeftRow1,.serverColumnRightRow1{
        margin-bottom: 0;
    }
    .serverText{
        margin-bottom: 28px;
    }
.flex4Politic,.footerWhiteRabbit{
    margin-left: 0px;
}
#footerContentFlexMobile{
    display: flex;
}
#footerContentFlexMobileNone{
    display: none;
}

.footerContentFlex4Border{
    display: block;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #707070;
    padding-left: 0px;
}

.footerDownContentGrid{
    flex-direction: column-reverse;
}
.myCabinetContent{
    background: #D8D8D8;
}

}


